body{
	width: 90%;
	margin: 50px auto;
}

.box{
	width: 400px;
	height: 200px;
}

.t-b{
	background-image: -webkit-linear-gradient(top,red,blue);
	background-image: linear-gradient(to bottom,red,blue);
	/* -webkit- 的第一个参数是起始方向，而W3C标准语法第一个参数是目的方向*/
}
.tl-br{
	background-image: -webkit-linear-gradient(top left,red,blue);
	background-image: linear-gradient(top bottom right,red,blue);
}
.t-b-deg{
	background-image: -webkit-linear-gradient(90deg,red,blue);
	background-image: linear-gradient(90deg,red,blue);
}

.l-r-mc{
	background-image: -webkit-linear-gradient(left,red,yellow,blue,green,red);
	background-image: linear-gradient(to right,red,yellow,blue,green,red);
}
.l-r-mc-dg{
	background-image: -webkit-linear-gradient(left,
		red 0%,
		green 80%,
		blue 100%);
	background-image: linear-gradient(to right,
		red 0%,
		green 80%,
		blue 100%);
}

.c-o{
	background-image: radial-gradient(red , yellow);
}
.c-o-cir{
	background-image: radial-gradient(circle,red 0%,yellow 10%,green 20% ,blue 30%);
}
.c-o-ell{
	background-image: radial-gradient(ellipse,red 0%,yellow 10%,green 20%,blue 30%);
}

.c-o-ell-r{
	background-image: radial-gradient(200px 20px,green,red);
}
.c-o-ell-r-p{
	background-image: radial-gradient(200px 80px at center bottom,yellow 70%,red 100%);
}
.farthest{
	background-image: radial-gradient(farthest-side ellipse at center bottom,yellow 70%,red 100%);	
}

.repeat{
	background-image: repeating-linear-gradient(red,green 40px,orange 15px);
}
.repeat-c{
	background-image: repeating-radial-gradient(red 20px,yellow 30px,blue 40px);
}

.book{
	background-image: repeating-linear-gradient(to top,#f9f9f9 0px,#fff 29px,#000 30px);
	background-size: 100% 30px;
}

.demo{
	margin-top: 40px;
	background-color: #282828;
	background-image: radial-gradient(black 15%,transparent 16%),
						radial-gradient(black 15%,transparent 16%),
						radial-gradient(rgba(255,255,255,0.1)15%,transparent 20%),
						radial-gradient(rgba(255,255,255,0.1)15%,transparent 20%);
	background-position: 0 0,8px 8px,0 1px,8px 9px;
	background-size: 16px 16px;
}