body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  color: #333;
}


body>header{
  height: 52px;
  box-sizing:border-box;
  width: 98%;
  margin: auto;
  padding: 20px 20px 0 20px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

body>header>ul{
  position: absolute;
  right: 40px;
  margin: 0;
}

body>header>ul>li{
  cursor: pointer;
  list-style: none;
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin-left: 5px;
  background-color: #eee;
}

.selected{
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #fff;
}

.content>header{
  width: 96%;
  margin: auto;
  margin-bottom: 20px;
}

.content>header>input[type="text"]{
  height: 1.6em;
}
.content>header a,.content>header button{
   margin-right: 10px;
}
.content>header a:last-of-type{
  margin-right: 20px;
}

.btn{
  display: inline-block;
  width: 70px;
  height: 26px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  color: #55f;
  outline: none;
}

.btn-info{
  color: #fff;
  background-color: #55f;
}

.btn-danger{
  color: #fff;
  background-color: #d9534f;
}

.content>section{
  width: 96%;
  margin: auto;
}

.content>section>table{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid #ddd;
}

tr th,tr td{
  font-weight: normal;
  padding: 5px 10px;
  border-bottom:1px solid #ddd;
}

thead>tr{
  background-color: #eee;
}

.content>section>footer{
  width: 100%;
  box-sizing:border-box;
  border: 1px solid #ddd;
  padding: 5px;
  overflow: hidden;
}
.content>section>footer>div{
  float: right;
}

.content>section>footer div input[name="page-no"]{
  width: 30px;
  height: 20px;
  padding: 0;
}

.content>section>footer div button{
  width: 45px;
  height: 25px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 2px;
  color: #44f;
  outline: none;
  cursor: pointer;
}
.content>section>footer div button:last-of-type{
  color: #000;
}