body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

#wrap{
	width: 100%;
}

#top{
	width: 100%;
	background-color: #0078d8;
}

#inner-wrap{
	width: 740px;
	margin: auto;
	overflow: hidden;
}

#logo{
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center left;
	width: 50%;
	float: left;
	height: 100%;
	min-height: 360px;
}

#login-register{
	color: #fff;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 15px;
	margin: 38px 0;
	float: right;
	width: 202px;
}

#login-register header{
	overflow: hidden;
	margin-bottom: 18px;
	line-height: 1.7;
}

#login-register header p{
	display: inline;
	float: left;
}
#login-register a{
	text-decoration: none;

	color: #fff;
}

#login-register header a{
	display: block;
	float: right;
	-webkit-transition: 100ms;
	-o-transition: 100ms;
	transition: 100ms;
	font-size: 15px;
}

#login-register header a i{
	margin-left: 5px;
}

#login-register header a:hover{
	margin-right: -3px;
}

#login-register .input-wrap{
	margin-bottom: 18px;
}

#login-register input{
	border: 1px solid #1672b9;
	border-radius: 5px;
	line-height: 17px;
	padding: 8px 10px;
	width: 180px;
}

#login-register button{
	border-radius: 5px;
	width: 100%;
	background-color: #6bbaf8;
	color: #fff;
	height: 33px;
	border: 0;
	cursor: pointer;
}

#login-register .remeber-me{
	overflow: hidden;
	font-size: 13px;
}

#login-register input[type="checkbox"]{
	float: left;
	display: inline-block;
	width: 13px;
	border: 0;
	margin-right: 5px;
	margin-top: 3px;
}

#login-register input:focus,button:focus{
	border: 1 solid #1672b9;
	outline:medium;
}

#login-register .remeber-me a{
	float: right;
}


#login-register .weibo-signup-wrap a,p{
	display: inline;
	margin-right: 10px;
}

#login-register .failure{
	background-color: rgba(0,0,0,0.1);
	margin-bottom: 18px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,0 1px 0 rgba(255,255,255,.15);
}

#login-register .failure ul{
	list-style: none;
	padding: 10px 15px;
}

.failure i{
	color: #0078d8;
	margin-right: 5px;
}
.failure li{
	line-height: 1.6;
}
.failure{
	font-size: 13px; 
}