#piccontainer{
	width:100%;
	position: relative;
	margin:80px auto;
}

#piccontainer img{
	cursor: pointer;
	width:30%;
	padding:5px;
	background-color:#fff;
	border:1px solid #999;
	position: absolute;
	-webkit-transition: 1s;
	-moz-transition:1s;
	transition: 1s;
	z-index:1;
}
#piccontainer img:hover{
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform: scale(1.6);
	-ms-transform: scale(1.6);
	-o-transform: scale(1.6);
	transform: scale(1.6);
	box-shadow:5px 5px 5px #333;
	opacity: 1;
	z-index:2;

}


#container img:hover{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}