*{
	padding: 0;
	margin: 0;
	border: 0;
}

body{
	font-family: 'Microsoft Yahei';
	color:#6d6d6d;
	background-image: url(../images/background.png);
	background-color:#710C51;
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 70%;
	margin: 100px auto 0 auto;
}


body>section{
	width:73%;
	float:left;
}


article{
	padding:20px;
	background-color:#fff;
	margin-bottom:50px;
	border-radius:4px;
}

article>header h1{
	color:#111;
	font-size:22px;
	font-weight:bolder;
}


article>header div{
	display:inline-block;
	background-color:#333;
	color:#fff;
	padding: .1em .9em;
	border-radius:3px;
	font-size:13px;
	margin-bottom:1em;
	margin-top:1em;
}

article>p{
	font-size:14px;
	line-height:1.7em;
	margin-bottom:1.8em;
}

body>aside{
	width:24%;
	float:right;
}


body>aside>header{
	padding-bottom:17px;
	width:100%;
	height:54px;
	display:block;
	background-image:url(../images/bg-row.png);
	background-position:bottom;
	background-repeat:no-repeat;
	background-size:100% .17em;
}

p#logo a{
	float:left;
	width:154px;
	height:54px;
	display:block;
	background-image:url(../images/logo.png);
	background-size:154px 54px;
}

p#feed a{
	float:left;
	width:22px;
	height:22px;
	display:block;
	margin-top:32px;
	background-image:url(../images/light-sprites.png);	
	background-position:0 72px;
}

aside>section{
	padding:30px 0;
	background-image:url(../images/bg-row.png);
	background-position:bottom;
	background-repeat:no-repeat;
	background-size:100% .17em;
}
input#search{
	padding-left:5px;
	width:50%;
	border-radius:3px;
	height:30px;
}

input#submit{
	width:20%;
	border-radius:3px;
	height:30px;
	cursor:pointer;
	background-position:0 72px;
}


nav{
	color:#fff;
	padding:10px 0;
	margin-bottom:20px;
	background-image:url(../images/bg-row.png);
	background-position:bottom;
	background-repeat:no-repeat;
	background-size:100% .17em;
}

nav a{
	color:#fff;
	text-decoration:none;
}

nav a:hover{
	padding-left:10px;
	color:#fff;
	text-decoration:none;
}

nav>h1{
	size: 17px;
}
nav>ul{
	margin-top:10px;
	list-style:none;
}

nav>ul>li{
	font-size:15px;
	margin-bottom:.3em;
}
body>footer{
	clear:both;
	color:#fff;
}

body>footer{
	clear:both;
	color:#fff;
	margin-bottom:40px;
}

body>footer p{
	font-size:12px;
}

#to-top{
	width:32px;
	height:32px;
	background-image:url(../images/move-up.png);
	position:fixed;
	bottom:30px;
	right:40px;
	cursor: pointer;
}
