---
layout: default
---

<main class="m-main c4-main">
    {% if page.show contains 'html' %}
    <div class="container" id="html-container">
        <h2>HTML:</h2>
        <pre><code class="html"></code></pre>
    </div>
    {% endif %}
    {% if page.show contains 'css' %}
    <div class="container" id="css-container">
        <h2>CSS:</h2>
        <pre><code class="css"></code></pre>
    </div>
    {% endif %}
    {% if page.show contains 'js' %}
    <div class="container" id="js-container">
        <h2>JavaScript:</h2>
        <pre><code class="javascript"></code></pre>
    </div>
    {% endif %}
    <div class="container" id="output-container">
        <h2>output:</h2>
        <iframe class="output-iframe stretch" id="iframe" src="../src/iframe/index.html"></iframe>
    </div>
</main>
<noscript id="content">
    {{ content }}
</noscript>
